#todolist {
  background-color: aqua;
  .header {
    display: flex;
    span {
      min-width: 200px;
      display: inline-block;
    }
  }
  ul.list {
    li {
      margin-bottom: 10px;
      list-style: auto;
      span {
        min-width: 200px;
        display: inline-block;
      }
    }
  }
}
